<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>main</key>
	<dict>
		<key>conversationButtonsLabel</key>
		<string>The Conversation</string>
		<key>storyButtonsLabel</key>
		<string>The Story</string>
		<key>specialThanksButtonsLabel</key>
		<string>Special Thanks</string>
	</dict>
	<key>conversation</key>
	<dict>
		<key>questions</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>solvingConflict</string>
				<key>topicHeader</key>
				<string>Solving Conflict</string>
				<key>description</key>
				<string>This block is dedicated to solving conflicts in your relationship. By answering these questions, you can deal with specific conflict situations in your relationship.</string>
				<key>advise</key>
				<string>[again]To maintain and support trust in your relationship after a conflict, follow the rules that both of you agreed on during the discussion.</string>
				<key>array</key>
				<array>
					<string>What situation do we want to solve now?</string>
					<string>Which of my actions influenced  to communicate less or not at all?</string>
					<string>How did this situation affect trust in our relationship?</string>
					<string>Did I cross your personal boundaries in this conflict? How do you feel about it?</string>
					<string>How should I act in similar situations in future so I won`t hurt your feelings and cross your boundaries?</string>
					<string>What rules can we set so to make us more comfortable in communication? (if possible - write them on a sheet of paper)</string>
					<string>Did we manage to solve this conflict and are we satisfied with its solution?</string>
				</array>
			</dict>
			<dict>
				<key>imageName</key>
				<string>throughToughTimes</string>
				<key>topicHeader</key>
				<string>Through Tough Times</string>
				<key>description</key>
				<string>This block is dedicated to help you to go through the tough period of your relationship, when difficult circumstances such as illness / death of a loved one, loss / change of work, etc. occurred in your or your partner/friend/relative life.</string>
				<key>advise</key>
				<string>Express support for each other as you have discussed during this block. Remember: tough period will will end, but relationships could last if you`re commited to them.</string>
				<key>array</key>
				<array>
					<string>What situation has affected our relationship?</string>
					<string>When do you feel the closest to me?</string>
					<string>What resources can help us to overcome this period of our lives?</string>
					<string>What can we do to go through hard times together?</string>
					<string>How can we express support for each other right now?</string>
					<string>What plan can we set so our relationship will overcome this time? (if possible- write it on a sheet of paper)</string>
				</array>
			</dict>
			<dict>
				<key>imageName</key>
				<string>alienation</string>
				<key>topicHeader</key>
				<string>Alienation</string>
				<key>description</key>
				<string>This block is devoted to the period of alienation when the distance between partners/friends/relatives in a relationship gradually increases.</string>
				<key>advise</key>
				<string>In order to reduce the distance between you - follow the plan. Remember that your conversation is the first step for returning the relationship you used to have.</string>
				<key>array</key>
				<array>
					<string>Do we know what specifically influenced our relationship?</string>
					<string>Which of my actions influenced to communicate less or not at all?</string>
					<string>Is it hard for you to accept love or care from me in our relationship? Why?</string>
					<string>What exactly do we want to return in our relationship?</string>
					<string>Have you thought how can we try to return what we`ve mentioned?</string>
					<string>Can we make an action plan of how can we return what we miss in our relationship back? (if possible - so scss write it down on a sheet of paper)</string>
				</array>
			</dict>
			<dict>
				<key>imageName</key>
				<string>relationshipTransformation</string>
				<key>topicHeader</key>
				<string>Relationship Transformation</string>
				<key>description</key>
				<string>This block is devoted to the stage when both of you understand that the format of your relationship has changed recently and you should find a new form for it.</string>
				<key>advise</key>
				<string>In order for new status of your relationship not to destroy your communication, think about your overall comfort using what was said during your conversation.</string>
				<key>array</key>
				<array>
					<string>On a scale from 1 to 10, rate how happy are you in this relationship (where 10 - a feeling of complete happiness, and 1 - complete dissatisfaction)</string>
					<string>What new factors and circumstances appeared in our relationship?</string>
					<string>How did these circumstances affect us and our relationship?</string>
					<string>What is the status of our relationship now? How can we call it?</string>
					<string>How do we understand this status and how do we feel about it?</string>
					<string>What can we do for our mutual comfort with this status?</string>
				</array>
			</dict>
			<dict>
				<key>imageName</key>
				<string>breakingOffARelationship</string>
				<key>topicHeader</key>
				<string>Breaking Off a Relationship</string>
				<key>description</key>
				<string>This block will help not to leave misunderstanding between two of you when you both understand that breaking off the relationship is the right decision for now.</string>
				<key>advise</key>
				<string>[menu]Remember that each finish is a new start. If you want to transform your relationship - go to other blocks of questions.</string>
				<key>array</key>
				<array>
					<string>What was your role in my life? Have you fulfilled it?</string>
					<string>How did you feel when you thought about the complete (or partial) stop in our communication?</string>
					<string>How can a pause in communication affect our relationship?</string>
					<string>What are you the most grateful for in our relationship?</string>
					<string>What advice can you give me to become better in next relationship/friendship?</string>
				</array>
			</dict>
		</array>
		<key>ui</key>
		<dict>
			<key>descriptionLabel</key>
			<dict>
				<key>intro</key>
				<string>To Fulfill is created to refresh your relationship at different stages. The app was created not exclusively for couples, but also for close friends and relatives.Find a convenient place to talk and dedicate some time to the conversation. Answer questions one by one, be sincere and courageous.</string>
				<key>topicsTip</key>
				<string>Choose the section that is most relevant to your relationship at this moment.</string>
			</dict>
			<key>navigationButtonsLabels</key>
			<dict>
				<key>weAreReady</key>
				<string>WE’RE READY</string>
				<key>notNow</key>
				<string>Not now</string>
				<key>next</key>
				<string>Next</string>
				<key>solveOtherConflicts</key>
				<string>Solve other conflict</string>
				<key>backToMenu</key>
				<string>Back to menu</string>
			</dict>
		</dict>
	</dict>
	<key>story</key>
	<dict>
		<key>title</key>
		<string>The two of us were the closest people to each other for almost 2 years. Without dating, we built relationship full of support, joy and hope.

On October 18 we`ve realized that something between us was broken: for some period of time we were experiencing offence, the lack of personal space and awkward moments in communication. In order to finish our relationships with dignity, we collected a list of questions for each other, met and listened carefully. 

With these questions, magic has happened: together we could pass the period full of misunderstandings and anger.

We are not psychologists. We are just people who don`t want to leave both of you with unanswered questions.

Yours, Diana and Alla.</string>
	</dict>
	<key>specialThanks</key>
	<dict>
		<key>title</key>
		<string>We do want to say huge thank you to everyone who helped us to make our Fulfill dream come true. Special thanks go to: Mary Zaremba and Mykhailo Komarov for our logo, Vladyslava Tashkinova for our design, Annika Udovenko for helping with wording, Helen Shakhova for copywriting and support 24/7, Olga Semenova for professional psychotherapy advices, Nazarii Melnyk for developing, Denis Rumiyantsev for testing and Denys Boiechko for huge help.
We wouldn`t be able to fulfill without you.</string>
	</dict>
	<key>common</key>
	<dict>
		<key>backButton</key>
		<string>Back</string>
	</dict>
</dict>
</plist>
