<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Launch</key>
	<dict/>
	<key>Main</key>
	<dict>
		<key>logo</key>
		<string></string>
		<key>conversationButton</key>
		<string></string>
		<key>storyButton</key>
		<string></string>
		<key>specialThanksButton</key>
		<string></string>
	</dict>
	<key>Conversation</key>
	<dict>
		<key>Questions</key>
		<dict>
			<key>solvingConflict</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>throughToughTimes</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>alienation</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>relationshipTransformation</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>endingUpRelationship</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
		</dict>
		<key>UI</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>nextButton</key>
			<string></string>
		</dict>
	</dict>
	<key>Story</key>
	<dict>
		<key>UI</key>
		<dict>
			<key>title</key>
			<string></string>
		</dict>
	</dict>
	<key>SpecialThanks</key>
	<dict>
		<key>UI</key>
		<dict>
			<key>title</key>
			<string></string>
		</dict>
	</dict>
	<key>Common</key>
	<dict>
		<key>UI</key>
		<dict>
			<key>backButton</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
