<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>main</key>
	<dict>
		<key>conversationButtonsLabel</key>
		<string>Розмова</string>
		<key>storyButtonsLabel</key>
		<string>Історія</string>
		<key>specialThanksButtonsLabel</key>
		<string>Особлива Подяка</string>
	</dict>
	<key>conversation</key>
	<dict>
		<key>questions</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>solvingConflict</string>
				<key>topicHeader</key>
				<string>Вирішення конфлікту</string>
				<key>description</key>
				<string>Цей блок присвячений вирішенню конфліктів у ваших стосунках. Відповівши на ці запитання щиро, ви зможете розібратись з конкретними конфліктними ситуаціями у Ваших стосунках.</string>
				<key>advise</key>
				<string>[again]Для збереження кредиту довіри в ваших стосунках після конфлікту, дотримуйтесь правил, які були озвучені під час обговорення.</string>
				<key>array</key>
				<array>
					<string>Який конфлікт ми хочемо вирішити зараз?</string>
					<string>Які мої дії та вчинки призвели до бажання спілкуватися менше або не спілкуватися взагалі?</string>
					<string>Як ця ситуація вплинула на довіру в наших стосунках?</string>
					<string>Чи я дозволив/дозволила собі перетнути твої особисті кордони? Що ти в цей момент відчував/відчувала?</string>
					<string>Як мені варто діяти в майбутньому задля запобігання подібних ситуацій?</string>
					<string>Які правила ми можемо встановити для комфортного спілкування? </string>
					<string>Чи вдалося нам вирішити цей конфлікт та чи задоволені ми нашим спільним результатом?</string>
				</array>
			</dict>
			<dict>
				<key>imageName</key>
				<string>throughToughTimes</string>
				<key>topicHeader</key>
				<string>Складний період</string>
				<key>description</key>
				<string>Цей блок присвячений подоланню складного періоду ваших стосунків, зокрема, якщо у Вашому житті або житті Вашого партнера/партнерки відбулися непередбачені чи важкі обставини (хвороба/смерть близької людини, поява/втрата дітей, втрата/зміна роботи тощо).</string>
				<key>advise</key>
				<string>Висловлюйте підтримку один одному/одна одній так, як ви обговорили (на мові Вашої близької людини). Пам&apos;ятайте, що складні періоди закінчуються, а стосунки можуть тривати далі, якщо над ними працювати.</string>
				<key>array</key>
				<array>
					<string>Яка ситуація вплинула на наші стосунки?</string>
					<string>В які моменти ти відчуваєш найбільшу близькість зі мною або найсильнішу підтримку від мене?</string>
					<string>Які наші ресурси можуть допомогти подолати нам цей період?</string>
					<string>Що ми можемо робити, щоб подолати цей період разом? Обговоріть конкретні методи та дії.</string>
					<string>Як ми можемо висловити підтримку один одному/одна одній прямо зараз?</string>
					<string>Який план ми можемо скласти зараз, щоб подолати цей період? </string>
				</array>
			</dict>
			<dict>
				<key>imageName</key>
				<string>alienation</string>
				<key>topicHeader</key>
				<string>Відчуження</string>
				<key>description</key>
				<string>Цей блок присвячений періоду відчуження у стосунках, коли дистанція між партнерами/друзями/ родичами поступово збільшується.</string>
				<key>advise</key>
				<string>Дотримуйтесь складеного плану для того, щоб скоротити дистанцію між вами. Пам&apos;ятайте, що ваша розмова - це перший крок до повернення стосунків.</string>
				<key>array</key>
				<array>
					<string>Чи знаємо ми конкретну ситуацію, що вплинула на наші стосунки?</string>
					<string>Які мої дії та вчинки призвели до бажання спілкуватися менше або не спілкуватися взагалі?</string>
					<string>Чи буває тобі іноді важко приймати любов або турботу від мене? Чому?</string>
					<string>Що саме ми хочемо повернути в наші стосунки?</string>
					<string>Як, на твою думку, ми можемо повернути те, що ми обговорили?</string>
					<string>Чи можемо ми скласти план дій, щоб реанімувати стосунки? </string>
				</array>
			</dict>
			<dict>
				<key>imageName</key>
				<string>relationshipTransformation</string>
				<key>topicHeader</key>
				<string>Трансформація стосунків</string>
				<key>description</key>
				<string>Цей блок присвячений періоду у стосунках, коли ви двоє розумієте, що формат вашого спілкування змінився за останній час і для нього варто знайти нову форму.</string>
				<key>advise</key>
				<string>Для того, щоб новий статус ваших відносин не зруйнував спілкування, думайте про спільний комфорт, згадуючи вашу розмову.</string>
				<key>array</key>
				<array>
					<string>За шкалою від 1 до 10 оціни своє почуття щастя у стосунках (де 10 - задоволення, а 1 - незадоволеність стосунками)</string>
					<string>Які нові фактори та обставини з&apos;явилися в наших стосунках?</string>
					<string>Як ці обставини вплинули на нас та наші стосунки?</string>
					<string>Який статус наших стосунків зараз? Чи можемо ми його назвати?</string>
					<string>Як ми розуміємо цей статус і як ми себе відчуваємо щодо нього?</string>
					<string>Що ми можемо зробити для нашого спільного комфорту у новому статусі?</string>
				</array>
			</dict>
			<dict>
				<key>imageName</key>
				<string>breakingOffARelationship</string>
				<key>topicHeader</key>
				<string>Завершення</string>
				<key>description</key>
				<string>Цей блок допоможе не залишити недомовок, коли ви двоє розумієте, що завершення ваших стосунків — правильне рішення на даному етапі.</string>
				<key>advise</key>
				<string>[menu]Пам&apos;ятайте, що кожне завершення - це початок чогось нового. Якщо ви хочете спробувати трансформувати ваші стосунки - перейдіть до інших блоків питань.</string>
				<key>array</key>
				<array>
					<string>Яка була моя роль в твоєму житті? Як вважаєш чи виконана вона повністю?</string>
					<string>Чи може нам допомогти повне або часткове припинення спілкування? Якщо так, то як cаме?</string>
					<string>Як перерва в спілкуванні може вплинути (або вже впливає) на наші стосунки?</string>
					<string>Чи відчуваєш ти до мене вдячність? Якщо так, то за що найбільше?</string>
					<string>Які поради ти можеш дати мені для моїх подальших стосунків?</string>
					<string>Чи будемо ми продовжувати спілкування? Якщо так, то в якому форматі?</string>
				</array>
			</dict>
		</array>
		<key>ui</key>
		<dict>
			<key>descriptionLabel</key>
			<dict>
				<key>intro</key>
				<string>Оберіть комфортне місце, будьте щирими та приділіть розмові стільки часу, скільки Вам знадобиться.</string>
				<key>topicsTip</key>
				<string>Оберіть розділ, який наразі є найбільш актуальним для ваших стосунків.</string>
			</dict>
			<key>navigationButtonsLabels</key>
			<dict>
				<key>weAreReady</key>
				<string>МИ ГОТОВІ</string>
				<key>notNow</key>
				<string>Не зараз</string>
				<key>next</key>
				<string>Далі</string>
				<key>solveOtherConflicts</key>
				<string>Вирішити інший конфлікт</string>
				<key>backToMenu</key>
				<string>Повернутися в меню</string>
			</dict>
		</dict>
	</dict>
	<key>story</key>
	<dict>
		<key>title</key>
		<string>Ми були найближчими людьми одна для одної протягом 2 років, за які змогли побудувати дружні стосунки, повні підтримки та радості.

В певний момент ми зрозуміли, що в цих стосунках щось зламалось. Ми переживали злість, відсутність особистого простору та ніяковість при спілкуванні. Для того, щоб закінчити стосунки з гідністю, ми склали список запитань одна для одної, зустрілись та уважно слухали. Результатом нашої розмови та трансформації спілкування став цей додаток.

Ми не психологи. Ми просто люди, які не хочуть залишати вас без відповідей на такі важливі запитання.

Ваші, 
Діана і Алла</string>
	</dict>
	<key>specialThanks</key>
	<dict>
		<key>title</key>
		<string>Ми хочемо подякувати всім, хто допоміг нам втілити в реальність цей задум. Ми не уявляємо цього додатку без вашої допомоги.

Ользі Семеновій, за професійні психотерапевтичні поради,
Мері Зарембі та Михайлові Комарову, за наш логотип,
Еліні Цильке за наш дизайн,
Анніці Удовенко та Таю Сміту за роботу з текстом, 
Олені Шаховій за копірайтинг та підтримку 24/7, 
Назарію Мельнику за розробку додатку, 
Денису Боєчку за величезну допомогу,
@delonevtebe.store за наші футболки.</string>
	</dict>
	<key>common</key>
	<dict>
		<key>backButton</key>
		<string>Назад</string>
	</dict>
</dict>
</plist>
